USE [NYSEData]
GO
/****** Object:  Table [dbo].[NYSEDailyPriceA]    Script Date: 4/03/2019 11:42:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NYSEDailyPriceA](
	[exchange] [nvarchar](50) NOT NULL,
	[date] [date] NOT NULL,
	[stock_symbol] [nvarchar](50) NOT NULL,
	[stock_price_open] [float] NOT NULL,
	[stock_price_high] [float] NOT NULL,
	[stock_price_low] [float] NOT NULL,
	[stock_price_close] [float] NOT NULL,
	[stock_volume] [int] NOT NULL,
	[stock_price_adj_close] [float] NOT NULL,
	[id] [int] NOT NULL,
 CONSTRAINT [PK_NYSEDailyPriceA_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[NYSEDailyPriceA] ([exchange], [date], [stock_symbol], [stock_price_open], [stock_price_high], [stock_price_low], [stock_price_close], [stock_volume], [stock_price_adj_close], [id]) VALUES (N'NYSE', CAST(0x08240B00 AS Date), N'ASP', 10.88, 10.88, 10.63, 10.69, 9800, 4.88, 1)
INSERT [dbo].[NYSEDailyPriceA] ([exchange], [date], [stock_symbol], [stock_price_open], [stock_price_high], [stock_price_low], [stock_price_close], [stock_volume], [stock_price_adj_close], [id]) VALUES (N'NYSE', CAST(0x08240B00 AS Date), N'AIT', 15.94, 16.12, 15.94, 16, 134600, 5.63, 2)
INSERT [dbo].[NYSEDailyPriceA] ([exchange], [date], [stock_symbol], [stock_price_open], [stock_price_high], [stock_price_low], [stock_price_close], [stock_volume], [stock_price_adj_close], [id]) VALUES (N'NYSE', CAST(0x08240B00 AS Date), N'AVA', 28.83, 31.39, 26.97, 30.76, 2680200, 22.34, 3)
GO
