@{
    ViewBag.Title = "MoneyBMine";
}
<h2>@ViewBag.Title.</h2>

<p>
    Beginning in 1980 with its head office in Sydney, “money-B-Mine”
    has built a reputation for sound data and relevant financial information. With a current customer
    base of just over 1300 customers, we feel the time is right to introduce financial market
    information from outside of Australia.

</p>

<p>
    At this new stage, we see the desire to incorporate information from the New York Stock Exchange (NYSE).
    Based on historical data, an opportunity has arisen allowing our internal analysts to review NYSE
    information to make informed decisions on market movement. And we also want to share this valuable data with our valueable
    customers.
</p>

<address>
    1 Office Rd<br />
    Richmond, NSW 2099<br />
    <abbr title="Phone">P:</abbr>
    (02).2222.0100
</address>

<address>
    <strong>ITSupport:</strong>   <a href="mailto:ITSupport@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>