@{
    ViewBag.Title = "New York Stock Exchange Historical Data Download";
}
<h2>@ViewBag.Title Instruction</h2>
<h4>How to download and install the <strong>MoneyBMineWPF</strong> application to store the data on your desktop?</h4>
<p>
    <ol>
        <li>Click the download button to download the file for installation;</li>
        <li>It is a zip file, so please right-click on the file and '7-zip' it first;</li>
        <li>After extracting the downloaded file, you will see a list of files;</li>
        <li>Then double-click the file 'setup.exe' to install the MoneyBMineWPF;</li>
        <li>Now you can run the application from the file by double-click the 'setup.exe';</li>
        <li>Or you can find the APP in your installed applications by clicking the start button on the left bottom of your desktop or laptop.</li>
    </ol>
</p>
<br />
<p style="font-weight:bold">
    Click here to download the historical data from New York Stock Exchange
    <br />
    <a href="~/WPFDeploy.zip">Download (find the details on how to install/use/uninstall the MoneyBMine in the User Guide)</a>

</p>
<br />
<p>If you have encountered any problem during downloading or opening the file, please contact our IT support team for help.</p>
<address>
    <strong>ITSupport:</strong>   <a href="mailto:ITSupport@example.com">Support@example.com</a><br />
</address>
<address>
    <abbr title="Phone">P:</abbr>
    (02).9222.0100
</address>